.home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh; /* Make the container take up the full viewport height */
  overflow: hidden; /* Hide any overflow content */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
}

.headerContainer {
  position: relative;
  z-index: 1; /* Place content above the video */
  text-align: center;
  padding: 20px;
  color: white;
}


.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 75px;
  height: 78px;
  font-weight: 50;
  background-image: linear-gradient(to right, #FF5733, #FFC300); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: normal;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  background-image: linear-gradient(to right, #FF5733, #FFC300); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }


  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
